<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\\static\\base.css">
    <script src="..\\static\\main.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@400;500&family=Pacifico&display=swap" rel="stylesheet">



    {% block head %}
    {% endblock %}
</head>
<body>
    <!-- <script src="..\\static\\main.js"></script> -->
    <nav>
        <div class="nav-items">
            <div class="nav-logo">
                <img src="..\\static\\images\\chlaxsa2.jpg" alt="CHLAxSA logo1" width="300" height="166">
            </div>
            <div class="site-title">
                <h1>QA Tracker</h1>
            </div>
            <div class="nav-links">
                <div class="nav-link">
                    <a href="{{  url_for('home')  }}" >Home</a>
                </div>
                <div class="nav-link">
                    <a href="#" >Actions</a>
                    <div class="actions-menu">
                        <a href="#" id="add-qa-link">Add Prospective QA</a>
                        <a href="#" id="add-scribe-link">Add Scribes</a>
                        <a href="#">Option 3</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="overlay" id="popup-overlay"></div>
    
    <div id="add-prospective-popup" class="hidden">
        <h1>Add Prospective QA</h1>
        <form id="qa-form" action="/submit_prospective" method="POST">
            <div class="qaf-row">
                <input class="qaf-input" type="date" id="qaf-date" name="qaf-date" placeholder="Date">
                <!-- <input class="qaf-input" type="text" name="qaf-scribe" id="qaf-scribe" placeholder="Scribe Name"> -->
                <select class="qaf-input" name="qaf-division" id="qaf-division" required>
                    <option value="empty-placeholder"></option>
                    {% for divs in divisions %}
                    <option value="{{  divs  }}">{{  divs  }}</option>
                    {% endfor %}
                </select>
                <select name="qaf-scribe" id="qaf-scribe" class="qaf-input">
                    <option value="empty-placeholder"></option>
                    {% for info in scribes %}
                    <option value="{{  info[0]  }}">{{  info[0]  }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="qaf-row">
                <!-- <input class="qaf-input" type="text" id="qaf-division" name="qaf-division" placeholder="Division">
                <input class="qaf-input" type="text" name="qaf-provider" id="qaf-provider" placeholder="Provider Name"> -->
                <select class="qaf-input" name="qaf-provider" id="qaf-provider">
                    <option value="empty-placeholder"></option>
                    {% for prov in providers %}
                    <option value="{{  prov  }}">{{  prov  }}</option>
                    {% endfor %}
                </select>
                <select class="qaf-input" name="qaf-assessor" id="qaf-assessor">
                    <option value="empty-placeholder"></option>
                    {% for assr in assessors %}
                    <option value="{{  assr  }}">{{  assr  }}</option>
                    {% endfor %}
                </select>
                <input class="qaf-input" type="text" name="qaf-comments" id="qaf-comments" placeholder="Comments...">
            </div>
            <div class="qaf-row">
                <button type="submit" class="qaf-submit">Submit</button> 
            </div>
        </form>

    </div>

    <div id="add-scribe-popup" class="hidden">
        <h1>Add Scribe</h1>
        <div class="nsf-form">
            <form id="new-scribe-form" action="/add_new_scribe" method="POST">
                <div class="nsf-row">
                    <div class="nsf-entry">
                        <p class="nsf-title">Scribe Name*</p>
                        <input class="nsf-input" type="text" id="nsf-scribe" name="nsf-scribe" required>
                    </div>
                    <div class="nsf-entry">
                        <p class="nsf-title">Division*</p>
                        <Select class="nsf-input" id="nsf-division" name="nsf-division" required>
                            {% for divs in divisions %}
                            <option value="{{  divs  }}">{{  divs  }}</option>
                            {% endfor %}
                        </Select>
                    </div>
                </div>
                <div class="nsf-row">
                    <div class="nsf-entry">
                        <p class="nsf-title">QAT</p>
                        <select class="nsf-input" name="nsf-qat" id="nsf-qat">
                            {% for qat in qats %}
                            <option value="{{  qat  }}">{{  qat  }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="nsf-entry">
                        <p class="nsf-title">FFTS</p>
                        <input type="number" step="0.1" class="nsf-input" name="nsf-ffts" id="nsf-ffts">
                    </div>
                    <div class="nsf-entry">
                        <p class="nsf-title">Solo Date</p>
                        <input class="nsf-input" type="date" name="nsf-solo-date" id="nsf-solo-date">
                    </div>
                </div>
                <button type="submit" class="nsf-submit">Submit</button>
            </form>
        </div>
    </div>

    {% block content %}

    {% endblock %}
    
</body>
</html>