<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\\static\\base.css">
    <script src="..\\static\\main.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@400;500&family=Pacifico&display=swap" rel="stylesheet">



    {% block head %}
    {% endblock %}
</head>
<body>
    <!-- <script src="..\\static\\main.js"></script> -->
    <nav>
        <div class="nav-items">
            <div class="nav-logo">
                <img src="..\\static\\images\\chlaxsa2.jpg" alt="CHLAxSA logo1" width="300" height="166">
            </div>
            <div class="site-title">
                <h1>QA Tracker</h1>
            </div>
            <div class="nav-links">
                <div class="nav-link">
                    <a href="{{  url_for('home')  }}" >Home</a>
                </div>
                <div class="nav-link">
                    <a href="#" >Divsions</a>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}
    
</body>
</html>